@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
body {
  font-family: "Oswald", sans-serif;
}
header {
  text-transform: uppercase;
  text-align: center;
}
header img {
  width: 100%;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav-item {
  margin: 0px 5px;
}
.nav-link {
  margin: 0px;
  cursor: pointer;
  font-weight: bold;
}
.candidate-wrap {
  margin: 20px 0px;
}
.response-response {
  font-weight: 300;
}
.footer {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}
